button {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }

  #tacoText {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    font-size: 20px;
  }

  #acnhText {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    font-size: 20px;
  }

  .container {
    background: url("https://t3.ftcdn.net/jpg/01/36/25/58/360_F_136255856_XGPHT6zyNJay48Dprr0bTVYb4XlUuSaI.jpg");
    background-repeat: no-repeat;
    background-size: 100%
  }